# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Elixir files
[*.{ex,exs}]
indent_style = space
indent_size = 2
max_line_length = 120

# Phoenix templates
[*.{heex,eex}]
indent_style = space
indent_size = 2
max_line_length = 120

# JavaScript and CSS
[*.{js,ts,css,scss}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Configuration files
[*.{toml,conf}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
indent_size = 4

# Dockerfile
[Dockerfile*]
indent_style = space
indent_size = 2