# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"
export $(comm -1 -3 <(env|sort) <(envchain gatherly  env|sort))
# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details
